
/*-----nav-----*/
.nav-item:hover{
    background: lightgray;
    padding: 0;
}
.btn1 {
    background: white;
    color: black;
    border: solid lightgray 1px;
}
.nav-link {
    margin-right: 10px;
}
/* ------jumbotron -------*/
.container {
    position: relative;
}
.jumbotron {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    border-radius: 0;
}
.display-4 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(255,255,255);
    width: 100%;
    opacity: .7;
}
/*cards-----*/
.card {
    border: 1px solid dodgerblue;
    margin: none;

}
.card-header {
    border-bottom: 1px solid dodgerblue;
    background: lightblue;
    color: dodgerblue;
}

.next {
    background: lightgray;
    display: flex;
    justify-content: flex-end;
}
.btn-primary {
    margin: 10px;
    background:rgb(51	122	183	);
}
/*small cards------*/
#smallcard {
    border: 1px solid lightgray;

    margin: 20px;

}
#first-card {
    border-bottom: 1px solid lightgray;
    background: lightgray;
    color: black;
}
#second-card {
    border-bottom: 1px solid lightgray;
    background: lightgray;
    color: black;
}
/*cheese and sauce*/

.button {
    background: lightgray;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.btn-secondary {
    background:rgb(51	122	183	);
    border: none;
}
.btn-group {
    padding: 10px;
}

.card-body {
    padding: 0;
}


